# Arduino build output
build/
**/build/
*.elf
*.bin
*.hex
*.map

# Arduino cache
.arduino15/
cache/

# VSCode user-specific settings
.vscode

# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# macOS
.DS_Store
.AppleDouble
.LSOverride
